@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root{
    --font-sans: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --padding-container: 100px 0;
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --wave:url(../images/bg-section-top-mobile-1.svg);
    --wave2:url(../images/bg-section-bottom-mobile-1.svg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-sans);
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    --padding-container: 0;
}

.nav__logo{
    height: 20px;
}

.nav__img{
    height: 100%;
}

.nav__link{
    border: 3px solid var(--light-pink);
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 400;
    color: var(--light-pink);
    text-decoration: none;
    box-shadow: -2px 2px 32px -14px var(--light-pink);
}

.nav__link:hover{
    opacity: .5;
    font-weight: 600;
}

/* Hero */

.hero{
    position: relative;
}

.hero__main{
    text-align: center;
}

.title{
    font-size: 1.9rem;
    font-family: var(--font-poppins);
    margin-bottom: .7em;
}

.hero__paragraph{
    color: var(--very-dark-cyan);
}

.cta{
    margin-top: 3em;
    background: var(--pink);
    color: var(--very-pale-blue);
    padding: 15px 60px;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.cta:hover{
    opacity: .6;
    font-weight: 600;
}

.hero__picture{
    width: 90%;
    margin: 0 auto;
    margin-top: 8em;
    margin-bottom: 8em;
}

.hero__img{
    width: 100%;
}

.hero__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.hero__card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__number{
    font-size: 3rem;
}

.hero__paragraph{
    margin: 0 auto;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-image: var(--wave);
    background-size:100% 100px;
}

.wave--top{
    top: 0;
    bottom: none;
    background: var(--wave2);
}

.section{
    background: var(--very-pale-blue);
    text-align: center;
    position: relative;
}

.section__container{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.section__img{
    width: 100%;
}

.subtitle{
    font-size: 1.5rem;
    margin-bottom: .7em;
}

.section__paragraph{
    color: var(--very-dark-cyan);
}

.section--white{
    background: #fff;
    --pading-container: 200px 0;
    --wave: url(../images/bg-section-top-mobile-2.svg);
    --wave2:url(../images/bg-section-bottom-mobile-1.svg);
}

.community{
    --padding-container: 200px 0;
    text-align: center;
    position: relative;
    --wave:url(../images/bg-footer-top-mobile.svg);
    --wave2:url(../images/bg-section-bottom-mobile-2.svg);
}

.title--community{
    margin-bottom: 0;
}

/* Footer */

.footer{
    background: var(--very-dark-cyan);
    color: var(--very-pale-blue);
}

.footer__title{
    font-size: 1.5rem;
    font-family: var(--font-poppins);
}

.footer__paragraph{
    margin-top: 1em;
}

.footer__form{
    margin-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-end;
}

.footer__input{
    width: 100%;
    padding: 15px 3px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-family: var(--font-sans);
}

.footer__submit{
    background: var(--pink);
    outline: none;
    border: none;
    padding: 10px 60px;
    font-size: 1rem;
    font-family: var(--font-sans);
    color: #fff;
    border-radius: 6px;
}

.footer__submit:hover{
    cursor: pointer;
    background-color: rgb(255 150 216);
    font-weight: 600;
}


.footer__contact{
    margin-top: 6em;
}

.footer__social{
    display: flex;
    align-items: flex-end;
    gap: 1.5em;
}

.footer__social--media{
    margin-top: 3em;
}

.footer__social--first{
    margin-top: 1em;
}

@media (min-width:700px) {

    .nav__logo{
        height: 35px;
    }

    .title{
        font-size: 3rem;
        margin-bottom: .5em;
    }

    .hero{
        --padding-container:100px 0 200px;
        --wave: url('../images/bg-section-top-desktop-1.svg');
    }

    .hero__paragraph{
        width: 60%;
        margin: 0 auto;
    }

    .cta{
        margin-top: 2.5em;
    }

    .hero__img{
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }

    .hero__picture{
        margin-top: 6em;
        margin-bottom: 6em;
    }

    .hero__cards{
        flex-direction: row;
        justify-content: space-around;
        max-width: 700px;
        margin: 0 auto;
    }

    .hero__card{
        width: auto;
    }

    .hero__number{
        font-size: 4rem;
    }

    /* Section */

    .section__container{
        flex-direction: row;
        align-items: center;
    }

    .section--white{
        --wave: url('../images/bg-section-top-desktop-2.svg');
        --wave2: url('../images/bg-section-bottom-desktop-1.svg'); 
    }

    .sections__texts{
        text-align: left;
    }

    .section__container--white{
        flex-direction: row-reverse;
    }

    .subtitle{
        font-size: 2.3rem;
    }

    .community{
        --padding-container:300px 0;
        --wave2: url('../images/bg-section-bottom-desktop-2.svg'); 
        --wave: url('../images/bg-footer-top-desktop.svg');
    }

    /* Footer */

    .footer__container{
        display: flex;
        align-items: center;
        gap: 5em;
    }

    .footer__newsletter{
        order: 1;
    }

    .footer__paragraph--less{
        width: 80%;
    }

}